################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageTest/obj
/packages/Spire.PDF.9.11.4
/ImageTest/bin/Debug
/ImageTest/Test.pdf
